*.gitignore filter=lfs diff=lfs merge=lfs -text
*.gitmodules filter=lfs diff=lfs merge=lfs -text
*.collapsed filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.sublime-project filter=lfs diff=lfs merge=lfs -text
*.sublime-workspace filter=lfs diff=lfs merge=lfs -text
*.cbp filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/CMakeFiles/Makefile2 filter=lfs diff=lfs merge=lfs -text
*.check_cache filter=lfs diff=lfs merge=lfs -text
*.marks filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-build/Makefile filter=lfs diff=lfs merge=lfs -text
*.make filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-build/googlemock/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-build/googletest/Makefile filter=lfs diff=lfs merge=lfs -text
*.pc filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/CMakeFiles/Makefile2 filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/CMakeFiles/googletest-complete filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.internal filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/googletest-prefix/src/googletest-stamp/googletest-build filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/googletest-prefix/src/googletest-stamp/googletest-configure filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/googletest-prefix/src/googletest-stamp/googletest-done filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/googletest-prefix/src/googletest-stamp/googletest-download filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/googletest-prefix/src/googletest-stamp/googletest-install filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/googletest-prefix/src/googletest-stamp/googletest-mkdir filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/googletest-prefix/src/googletest-stamp/googletest-patch filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-download/googletest-prefix/src/googletest-stamp/googletest-test filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.clang-format filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.bazel filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-src/LICENSE filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-src/WORKSPACE filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-src/googlemock/CONTRIBUTORS filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.pump filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-src/googlemock/scripts/generator/LICENSE filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-src/googlemock/scripts/generator/README filter=lfs diff=lfs merge=lfs -text
*.cppclean filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/googletest-src/googletest/CONTRIBUTORS filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/QtMain/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libArgs/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libCamera/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libDepthMap/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libField/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libFileUtils/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libGeom/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libGraph/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libProperties/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/libRoSy/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/mesher/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/tools/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/src/tools/data_gen/Makefile filter=lfs diff=lfs merge=lfs -text
*.objlib filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/third_party/nanogui/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/third_party/nanogui/ext_build/glfw/Makefile filter=lfs diff=lfs merge=lfs -text
/cmake-build-debug/third_party/nanogui/ext_build/glfw/src/Makefile filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.pgm filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.dox filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
/dependencies/cpd/vendor/googletest-release-1.8.1/WORKSPACE filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
/dependencies/cpd/vendor/googletest-release-1.8.1/googlemock/CHANGES filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.vsprops filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.props filter=lfs diff=lfs merge=lfs -text
/dependencies/cpd/vendor/googletest-release-1.8.1/googletest/CHANGES filter=lfs diff=lfs merge=lfs -text
/dependencies/cpd/vendor/googletest-release-1.8.1/googletest/CONTRIBUTORS filter=lfs diff=lfs merge=lfs -text
*.cbproj filter=lfs diff=lfs merge=lfs -text
*.groupproj filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
/doc/Hierarchical graph filter=lfs diff=lfs merge=lfs -text
/doc/Milestone 1-Blend Shapes filter=lfs diff=lfs merge=lfs -text
*.numbers filter=lfs diff=lfs merge=lfs -text
/doc/Thinkpad filter=lfs diff=lfs merge=lfs -text
/doc/multi-frame filter=lfs diff=lfs merge=lfs -text
/doc/p-code filter=lfs diff=lfs merge=lfs -text
*.name filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.frag filter=lfs diff=lfs merge=lfs -text
*.vert filter=lfs diff=lfs merge=lfs -text
*.lst filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
*.mexmaci64 filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.mlx filter=lfs diff=lfs merge=lfs -text
*.ui filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.inl filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/octree/octree filter=lfs diff=lfs merge=lfs -text
*.txx filter=lfs diff=lfs merge=lfs -text
*.hxx filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Cholesky filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/CholmodSupport filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Core filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Dense filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Eigen filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Eigenvalues filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Geometry filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Householder filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/IterativeLinearSolvers filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Jacobi filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/LU filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/MetisSupport filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/OrderingMethods filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/PaStiXSupport filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/PardisoSupport filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/QR filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/QtAlignedMalloc filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/SPQRSupport filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/SVD filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/Sparse filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/SparseCholesky filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/SparseCore filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/SparseLU filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/SparseQR filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/StdDeque filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/StdList filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/StdVector filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/SuperLUSupport filter=lfs diff=lfs merge=lfs -text
/src/third_party/include/vtk-9.0/vtkeigen/eigen/UmfPackSupport filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkdoubleconversion/COPYING filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkdoubleconversion/LICENSE filter=lfs diff=lfs merge=lfs -text
*.BSD filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkexodusII/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkexpat/COPYING filter=lfs diff=lfs merge=lfs -text
*.TXT filter=lfs diff=lfs merge=lfs -text
*.GL2PS filter=lfs diff=lfs merge=lfs -text
*.LGPL filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkhdf5/COPYING filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkhdf5/COPYING_LBNL_HDF5 filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkjsoncpp/LICENSE filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtklibharu/LICENCE filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtklibproj/COPYING filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtklibxml2/Copyright filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkloguru/LICENSE filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtklz4/LICENSE filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtklzma/COPYING filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtknetcdf/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkogg/COPYING filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkpegtl/LICENSE filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkpng/LICENSE filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkpugixml/LICENSE filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtksqlite/public-domain filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtktheora/COPYING filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtktiff/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/src/third_party/share/licenses/VTK/vtkutf8/LICENSE filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.cl filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.doxy filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.cppcheck filter=lfs diff=lfs merge=lfs -text
*.natvis filter=lfs diff=lfs merge=lfs -text
*.glsl filter=lfs diff=lfs merge=lfs -text
*.graph filter=lfs diff=lfs merge=lfs -text
